@import '~antd/dist/antd.css';

:root{
    --primary-color: #727cf5;
    --secondary-color: #a3aaf1;
    --info-color: var(--success-color);
    --hightlight-color: #00ffd5;
    --active-color: #ff8800;
    --danger-color: #fa5c7c;
    --success-color: #a4c4bb;
    --success-color-100: #d5ece6;

    --gray-100: #f1f3fa;
    --gray-200: #eef2f7;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #98a6ad;
    --gray-700: #6c757d;
    --gray-800: #343a40;
    --gray-900: #313a46;
    --shadow-100: #adadad23;
    --shadow-200: #adadad4d;
    --shadow-300: #ffffff1a;

    --font-size-base: 1rem;
    --font-weight-base: 400;
    --line-height-base: 1.5;
}
html{
    --antd-wave-shadow-color: var(--secondary-color);
}
::selection{
    background-color: var(--primary-color);
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-base);
}
.ant-typography.logo{
    text-align: center;
    margin: 0px 10px;
    line-height: 40px;
    font-family: 'Permanent Marker', cursive, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
    color: var(--primary-color);
}
.ant-btn-primary{
    border-color: var(--primary-color);
    background: var(--primary-color);
}
.ant-btn-primary:hover{
    border-color: var(--secondary-color);
    background: var(--secondary-color);
}
.ant-row.ant-row-center.ant-row-middle{
    background-color: var(--gray-800);
}
.anticon[tabindex]:hover{
    color: var(--active-color);
}

/* LogBtn */
.logBtn{
    height: 60px;
    width: 80px;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    border-radius: 0;
}
.ant-btn.ant-btn-primary.mobileLogOut{
    display: block;
    width: 90%;
    margin: auto;
}
.logInCard.ant-card.ant-card-bordered{
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 10px var(--shadow-200);
}


@media(min-width: 768px){
    .logBtn{
        display: block;
    }
    .logInCard.ant-card.ant-card-bordered{
        width: 400px;
        border: 1px solid var(--gray-200);
    }
    .logInCard .ant-card-head{
        border-bottom: 1px solid var(--gray-200);
    }
}
