@import '~antd/dist/antd.css';
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ant-typography.logo{
    height: 40px;
    color: #a3aaf1;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    cursor: pointer;
}
.menu{
    height: 60px;
    width: 60px;
    position: fixed;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 0;
}
.logBtn{
    height: 60px;
    width: 80px;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    border-radius: 0;
}
.ant-card.ant-card-bordered.ant-card-hoverable{
    position: relative;
}
.ant-card.ant-card-bordered.ant-card-hoverable::before{
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    border: 2px solid #a3aaf1;
    background-color: #727cf5;
    position: absolute;
    bottom: 20%;
    right: 20px;
    transition: linear .2s;
}
.ant-card.ant-card-bordered.ant-card-hoverable:hover::before{
    width: 60px;
    height: 60px;
}
.ant-card.ant-card-bordered.ant-card-hoverable::after{
    content: '';
    display: block;
    border: none;
    position: absolute;
    bottom: calc(20% + 17px);
    right: calc(20px + 17px);
    transition: linear .2s;
}
.ant-card.ant-card-bordered.ant-card-hoverable:hover::after{
    border-right: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 20px solid #ffffff;
}
.ant-list-split .ant-list-item{
    padding: 12px;
}
.ant-list-split .ant-list-item:hover{
    background-color: blanchedalmond;
}

.currentPlaying{
    display: flex;
    align-items: center;
}


.currentPlaying .thumbnail img{
    display: none;
}

.currentPlaying .txt{
    margin: 0 10px;
}

.currentPlaying .mainTitle{
    font-size: 16px;
}

.currentPlaying .description{
    font-size: 14px;
}


@media(min-width: 768px){
    .menu{
        display: none;
    }
    .logBtn{
        display: block;
    }
    .currentPlaying .thumbnail img{
        display: block;
    }
}
