@import '~antd/dist/antd.css';
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    height: 40px;
    background-color: gray;
}
.menu{
    height: 60px;
    width: 60px;
    position: fixed;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 0;
}
.logBtn{
    height: 60px;
    width: 80px;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    border-radius: 0;
}
.ant-card.ant-card-bordered.ant-card-hoverable{
    position: relative;
}
.ant-card.ant-card-bordered.ant-card-hoverable::before{
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    border: 2px solid #a3aaf1;
    background-color: #727cf5;
    position: absolute;
    bottom: 20%;
    right: 20px;
    transition: linear .2s;
}
.ant-card.ant-card-bordered.ant-card-hoverable:hover::before{
    width: 60px;
    height: 60px;
}
.ant-card.ant-card-bordered.ant-card-hoverable::after{
    content: '';
    display: block;
    border: none;
    position: absolute;
    bottom: calc(20% + 17px);
    right: calc(20px + 17px);
    transition: linear .2s;
}
.ant-card.ant-card-bordered.ant-card-hoverable:hover::after{
    border-right: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 20px solid #ffffff;
}

@media(min-width: 768px){
    .menu{
        display: none;
    }
    .logBtn{
        display: block;
    }
}
